body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  width: 750px;
}

.search {
  width: 25px;
  height: 25px;
}

.error {
  color: darkred;
}

th[scope="row"] {
  font-weight: normal;
}

footer {
  border-top: solid 1px gray;
  margin-top: 8px;
  padding-top: 8px;
  text-align: center;
}

.heading {
  font-size: 2em;
}

h1,
h2 {
  margin-top: 55px;
}

/* Show skip link when user hits tab from address bar. Is hidden visually otherwise, 
but accessible to screen readers.
/* via https://dequeuniversity.com/rules/axe/3.2/skip-link?application=AxeChrome */
#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}

#skip a:focus {
  left: 0;
  top: 0;
  padding: 3px;
  background: #ffc;
  border: 1px solid #990000;
}

/* via https://accessible360.com/accessible360-blog/use-aria-label-screen-reader-text/ */
.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}
