body {
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  margin-top: 16px;
  width: 16x;
  height: 16px;
}

.error {
  color: red;
}

.footer {
  border-top: solid 1px gray;
  margin-top: 8px;
  padding-top: 8px;
  text-align: center;
}

.heading {
  font-size: 2em;
}
